<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://uz.kapitalbank.umida/menu.application.title" opened="true">
        <item view="umida_User.list" title="msg://uz.kapitalbank.umida.view.user/UserListView.title"/>
    </menu>

</menu-config>