<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="application" title="msg://uz.kapitalbank.umida/menu.application.title">
        <item view="umida_User.list" title="msg://uz.kapitalbank.umida.view.user/UserListView.title"/>
    </menu>

    <menu id="orgstructure" title="msg://uz.kapitalbank.umida/menu.orgstructure.title" opened="true">
        <item view="OrgStructureEmployee.list" title="msg://uz.kapitalbank.umida/menu.orgStructureEmployee.title"/>
    </menu>

    <menu id="reporting" title="msg://uz.kapitalbank.umida/menu.reporting.title" opened="true">
        <item view="umida_ReportingGroupsView" title="msg://uz.kapitalbank.umida/menu.reportGroups.title"/>
        <item view="umida_ReportDomain.list" title="msg://uz.kapitalbank.umida/menu.reportDomains.title"/>
        <item view="umida_ReportingMainView" title="msg://uz.kapitalbank.umida/menu.reporting.title"/>
        <item view="umida_ReportingAnalyticsView" title="msg://uz.kapitalbank.umida/menu.analytics.title"/>
    </menu>

</menu-config>