<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="application" title="msg://uz.kapitalbank.umida/menu.application.title">
        <item view="umida_User.list" title="msg://uz.kapitalbank.umida.view.user/UserListView.title"/>
        <menu opened="true" id="catalog" description="msg://uz.kapitalbank.umida/menu_config.catalog.description"
              title="msg://uz.kapitalbank.umida/menu_config.catalog.title">
            <item view="umida_DealType.list" title="msg://uz.kapitalbank.umida.view.dealtype/dealTypeListView.title"/>
            <item view="umida_Currency.list" title="msg://uz.kapitalbank.umida.view.currency/currencyListView.title"/>
        </menu>
        <item view="umida_OrgchartView" title="msg://uz.kapitalbank.umida.view.orgchart/orgchartView.title"/>
        <item view="umida_Department.list" title="msg://uz.kapitalbank.umida.view.department/departmentListView.title"/>
        <item view="umida_Division.list" title="msg://uz.kapitalbank.umida.view.division/divisionListView.title"/>
        <item view="umida_Employee.list" title="msg://uz.kapitalbank.umida.view.employee/employeeListView.title"/>
    </menu>
</menu-config>